@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
}

#left {
  width: 30%;
  background-color: rgb(176, 4, 4);
  height: 100px; 
}

#recipes {
  width: 70%;
  
  height: 100px; 
  background-color: rgb(4, 35, 148);
} */

/* #top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
} */